.products {
   --product-content-width: 300px;
   --product-card-padding: 4rem;
   --product-card-width: calc(
      var(--product-content-width) + var(--product-card-padding)
   );
   --grid-gap: 1.33rem;

   --product-list-width: calc(
      (var(--product-card-width)) * 3 + var(--grid-gap) * 2
   );
   --product-list-width-medium: calc(
      (var(--product-card-width)) * 2 + var(--grid-gap)
   );
   --product-list-width-small: var(--product-card-width);

   width: fit-content;
   max-width: 1280px;

   margin: 0 auto;
   padding-bottom: 2rem;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   font-size: 3.33rem;

   background-color: var(--card-bg-color);
   text-align: center;

   width: 100vw;
   margin: 0 0 2rem 0;
   padding: 0.5rem;
}
