:root {
   --main-bg-color: #f8f8f8;
   --card-bg-color: #ffffff;
   --text-default-color: #000000;
   --text-dark-color: #555555;
   --text-bright-color: #767676;
   --text-white-color: #ffffff;

   font-family: "SamsungOne", sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: var(--text-default-color);
   background-color: var(--main-bg-color);

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
   font-family: "SamsungOne";
   src: url(./assets/fonts/SamsungOne-400.ttf) format("truetype");
}

@font-face {
   font-family: "SamsungOne Bold";
   src: url(./assets/fonts/SamsungOne-700.ttf) format("truetype");
}
